<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>demo_exchange</title>
    <link rel="stylesheet" href="/static/css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      rel="stylesheet" href="https://use.typekit.net/your-kit-id.css"
    />
    <link rel="icon" href="/static/res/favicon/icons8-total-sales-ios-17-outlined-96.png" type="image/x-icon">
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Exchange Login</span></div>
        <form id="login-form">
          <div class="row">
            <i class="fas fa-envelope"></i>
            <input type="email" id="email" placeholder="Email Address" required />
          </div>
          <div class="row">
            <i class="fas fa-lock"></i>
            <input type="password" id="password" placeholder="Password" required />
          </div>
          <div class="row button">
            <input type="submit" value="Login" />
          </div>
          <div class="signup-link">
            Ready to trade? <a href="/signup">Click to sign up</a>
          </div>
        </form>
      </div>
    </div>
    <script src="/static/js/index.js"></script>
  </body>
</html>
