<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/static/css/portfolio.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      rel="stylesheet" href="https://use.typekit.net/your-kit-id.css"
    />
  </head>
  <body>
    <div class="container"> <!-- The whole page is inside here -->
      <div class="wrapper"> <!-- The whole page is inside but this is a wrapper -->

        <!-- summary start -->

         <div class="cube" id="summary"> <!-- a section represent all of the cubes in the page, the id will represent the specific cube -->

          <div class="inner_cube_summary" id="title">
            <p id="greeting">Hello,<br></p> <!-- name at the top left of the site -->
            <p id="name">Eliran</p>
          </div>
          <div class="inner_cube_summary" id="account_value">
            <h2 id="grey_title">Account Value</h2>
            <p>$100,000.00</p>
          </div>
          <div class="inner_cube_summary" id="buying_power">
            <h2 id="grey_title">Buying Power</h2>
            <p>$0.00</p>
          </div>
          <div class="inner_cube_summary" id="portfolio_value">
            <h2 id="grey_title">Portfolio Value</h2>
            <p>$0.00</p>
          </div>
          <div class="inner_cube_summary" id="total_return">
            <h2 id="grey_title">Total Return $</h2>
            <p>$0.00</p>
          </div>
          <div class="inner_cube_summary" id="total_return_percent">
            <h2 id="grey_title">Total Return %</h2>
            <p>0.00%</p>
          </div>

         </div>
       <!-- summary end -->


       <!-- portfolio start -->
         <div class="cube" id="order">
          

         </div>

       <!-- portfolio end -->


       <!-- history start -->
         <div class="cube" id="history">
          

         </div>

       <!-- history end -->

    </div>
   </div>
    <script src="/static/js/portfolio.js"></script>
  </body>
</html>