<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>demo_exchange</title>
    <link rel="stylesheet" href="/static/css/signup.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      rel="stylesheet" href="https://use.typekit.net/your-kit-id.css"
    />
    <link rel="icon" href="/static/res/favicon/icons8-total-sales-ios-17-outlined-96.png" type="image/x-icon">
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Sign Up To Trade</span></div>
        <form id="signup-form">
            <div class="row">
                <i class="fa fa-user"></i>
                <input type="text" id="firstname" placeholder="First Name" required />
              </div>
              <div class="row">
                <i class="fa fa-users" ></i>
                <input type="text" id="lastname" placeholder="Last Name" required />
              </div>
          <div class="row">
            <i class="fas fa-envelope"></i>
            <input type="email" id="email" placeholder="Email Address" required />
          </div>
          <div class="row">
            <i class="fas fa-lock"></i>
            <input type="password" id="password" placeholder="Password" required />
          </div>
          <div class="row button">
            <input type="submit" value="Sign Up" />
          </div>
          <div class="signup-link">
            Already a member? <a href="/login">Click to log in</a>
          </div>
        </form>
      </div>
    </div>
    <script src="/static/js/signup.js"></script>
  </body>
</html>
